.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2F80ED;
  padding-left: 48px;
  transition: opacity 0.9s ease-in-out;
  text-decoration: none;
}

.khan__buy-link:hover {
  opacity: 0.5;
}