.feynman {
  margin: 0;
  position: relative;
  height: 790px;
  background-color: #F2F2F2;
  z-index: -2;
}

.feynman__title {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  width: 775px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
}

.feynman__subtitle {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2F80ED;
}

.feynman__image {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  width: 867px;
  height: 637px;
}